<script type="text/javascript" src="javascripts/svg.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>
<script type="text/javascript" src="javascripts/jquery.js"></script>
</body>
</html>