<% include header.ejs %>
<div class="content">
	<section id="welcome"><% include welcome.ejs %></section>
	<section id="introduce"><% include introduce.ejs %></section>
	<section id="products"><% include products.ejs %></section>
	<section id="help"><% include help.ejs %></section>
	<section id="aboutus"><% include aboutus.ejs %></section>
</div>
<% include footer.ejs %>